<div class="mt-4">
    <h1>検索結果一覧</h1>
    <table id="index" border="1" cellspacing="0" cellpadding="5">
      <tr>
        <th>店名</th>
        <th>画像</th>
        <th>最寄り駅からの徒歩でかかる時間</th>
      </tr>

      <% @restaurants.each do |res| %>
        <tr>
          <td>
            <%= link_to res[:name], res[:id] %>
          </td>
          <td>
            <% if res[:image] == "" %>
                画像はありません
            <% else %>
              <image src="<%= res[:image] %>">
            <% end %>
          </td>
          <td><%= res[:station] %><%= res[:station_exit] %>から<%= res[:walk] %>分</td>
        </tr>
      <% end %>
    </table>
    <div class="mt-2">
      <%= paginate @restaurants, theme: 'twitter-bootstrap-4',
      pagination_class: "pagination-sm",
      nav_class: "d-inline-b" %>
    </div>
</div>
