<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant's Navi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'restaurants' %>
  </head>

  <body>
    <%= render 'shared/header'%>
    <%= render 'shared/api_error'%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
